## Exports -------------------------------------------------------------
export(qrfactor)

## S3 method registration ----------------------------------------------
S3method(qrfactor, default)
S3method(print,    qrfactor)
S3method(summary,  qrfactor)
S3method(plot,     qrfactor)

## Imports from base R packages ----------------------------------------
importFrom("grDevices", "gray.colors")
importFrom("graphics",  "layout", "points", "polygon", "text")
importFrom("methods",   "slot", "slot<-")
importFrom("stats",     "TukeyHSD", "aggregate", "aov", "cor", "dist",
                        "hclust", "kmeans", "kruskal.test", "mahalanobis",
                        "na.omit", "ppoints", "qchisq", "qqplot",
                        "rect.hclust", "wilcox.test")
importFrom("utils",     "read.csv", "read.table")

## Imports from contributed packages -----------------------------------
importFrom("mvoutlier", "aq.plot")
importFrom("pvclust",   "pvclust", "pvrect")
importFrom("cluster",   "clusplot")
importFrom("sp",        "coordinates", "spplot", "bpy.colors")
